{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добавление категории</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-sm btn-primary" style="float: right;" value="Создать" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('categories_index') }}" class="btn btn-sm btn-default">Назад к списку</a>
        </li>
    </ul>
{% endblock %}
